# Python
__pycache__/
*.py[cod]
*.class
venv/
.env

# Datos y modelos
data/raw/*
data/processed/*
data/test/images/*
data/yolo/images/*
datasets/*
models/trained/*.pt
*.zip

# Resultados y logs
runs/*
results/*
logs/*

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
